- provide(:title, 'Повторная отправка письма с подтверждением e-mail')

.page-header
  %h1 Повторная отправка подтверждения
= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), html: {method: :post, class: 'form-horizontal'}) do |f|
  = f.input :email, :wrapper => :prepend do
    %span.add-on
      %i.icon-envelope
    = f.input_field :email, :type => "email", :autofocus => true, :pattern => ".*"
  .control-group
    .controls
      = f.button :submit, "Отправить", :class => "btn-primary"
  .control-group
    .controls
      = render "devise/shared/links"