- provide(:title, 'Авторизация на сайте')

.page-header
  %h1 Авторизация
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'}) do |f|
  = f.input :email, :wrapper => :prepend do
    %span.add-on
      %i.icon-envelope
    = f.input_field :email, :type => 'email', :autofocus => true, :pattern => '.*'

  = f.input :password, :wrapper => :prepend do
    %span.add-on
      %i.icon-lock
    = f.input_field :password, :type => 'password'

  = f.input :form_actions, :label => false do
    = f.button :submit, 'Войти', :class => 'btn-primary'
    .remember_me
      = f.input_field :remember_me, :as => :boolean, :label => false, :inline_label => true if devise_mapping.rememberable?

  .control-group
    .controls
      = render 'devise/shared/links'