%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %nav
        %ul.nav.pull-right
          -# = link_to "Главная", root_path, :class => 'brand'
          %li
            = link_to root_path do
              %i.icon-home.icon-white

          - if user_signed_in?
            %li
              = link_to "Здравствуйте, #{current_user.name}", edit_user_registration_path
            %li
              = link_to "Выход", destroy_user_session_path, :method=>'delete'
          - else
            %li
              = link_to 'Войти', new_user_session_path
            %li
              = link_to 'Регистрация', new_user_registration_path