!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) + " : Муховяз.RU" : "Муховяз.RU"
    %meta{:name => "description", :content => content_for?(:description) ? yield(:description) : "Муховяз.RU"}
    %meta{:name => "author", :content => "Muhovyaz"}
    %meta{:name => "copyright", :content =>"Copyright Dmitry Nikifortsev #{Time.now.year}. All Rights Reserved."}
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

    = yield(:head)

  %body{:class => "#{controller_name} #{action_name}"}
    -# Заголовок страницы
    = render 'layouts/header'

    -# Контейнер основного контента
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          -# Подвал страницы
          = render 'layouts/footer'